/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/float";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300|Lato:400,700);

@mixin nav-style
{
	font-family: 'Lato', sans-serif;
}

@mixin header-style
{
	font-family: 'Open Sans', sans-serif;
}

@mixin body-style
{
	font-family: 'Open Sans', sans-serif;
}

@mixin body-style-italics
{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}

@mixin button($color, $reverse-color)
{
	border: 2px solid $color;
	background: none;
	padding: 0;
	max-width: 250px;
	margin: 10px auto;
	transition: all 0.3s;
	&:hover
	{
		background: $color;
		a { color: $reverse-color; }
	}
	a
	{
		@include nav-style();
		display: block;
		padding: 5px 15px;
		color: $color;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		transition: color 0.3s;
	}
}

$body-color: #555;
$line-color: lighten(#555, 35%);
$link-color: darken(#5b8ead, 10%);
$nav-color: #29a26a;

$background-color-1: #f9f8f3;
$background-color-2: #daede7;

/* Global Styles
================================================== */

.container
{
	margin: 0 auto;
}

.inner
{
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

section.slide
{
	padding: 50px 0;
}

.decoration
{
	padding: 0 20px;
}

.half
{
	width: 50%;
}
.third
{
	width: 33%;
}
.two-thirds
{
	width: 66%;
}
.full
{
	width: 100%;
	clear: both;
}

.centred
{
	text-align: center;
}

.left
{
	@include float(left);
}
.right
{
	@include float(right);
}

.top
{
	vertical-align: top;
}
.middle
{
	vertical-align: middle;
}

.divider
{
	border-bottom: 1px solid $line-color;
	margin-bottom: 20px;
}

/* #Site Styles
================================================== */


h1,h2,h3,h4,h5,h6
{
	text-align: left;
	@include header-style();
	padding: 0;
	margin: 0;
	color: $body-color;
}


h1
{
	font-size: 40px;
	line-height: 36px;
	padding: 0 0 60px;
	span
	{
		border-bottom: 1px solid $line-color;
	}
}

h2
{
	font-size: 30px;
	line-height: 26px;
	padding: 0 0 20px;
}

h3
{
	font-size: 24px;
	line-height: 24px;
	padding: 0 0 20px;
}

h4
{
	font-size: 20px;
	line-height: 30px;
	padding: 0 0 20px;
}

p, cite
{
	@include body-style();
	display: block;
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 20px;
	color: $body-color;
}

p a
{
	color: $link-color;
	font-style: italic;
	@include body-style-italics();
	text-decoration: none;
	&:hover
	{
		text-decoration: underline;
	}
}

button
{
	@include button(#fff, #666);
}

table
{
	tr
	{
		&.header
		{
			background: $background-color-1;
		}

		th
		{
			@include header-style();
			font-size: 18px;
			padding: 10px;
			color: $body-color;
			text-align: center;
			border-right: 1px solid #fff;
			&:last-child
			{
				border-right: 0;
			}
		}

		td
		{
			@include body-style();
			font-size: 16px;
			line-height: 20px;
			padding: 10px;
			color: $body-color;
		}
	}
}

cite, .emphasis
{
	@include header-style();
	font-size: 18px;
	line-height: 30px;
	a
	{
		@include header-style();
		font-style: normal;
	}
}

cite
{
	font-style: normal;
	span
	{
		display: block;
		font-size: 20px;
	}
}

blockquote
{
	font-style: italic;
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
}

#intro { background: url(/images/background.jpg); }
#about, #gallery, #contact, #site-footer { background: $background-color-1; }
#cv { background: $background-color-2; }
#media { background: #000; }

#intro
{
	height: 80vh;
	padding-top: 100px;
	background-size: cover;
	.inner
	{
		background-color: rgba(65, 191, 199, 0.55);
	}
	.decoration
	{
		position: relative;
		overflow: hidden;
		padding: 0;
	}
	.right
	{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		.info-box
		{
			margin: 60px;
			text-align: center;
		}
	}
	img
	{
		width: 100%;
	}
	p, hr
	{
		line-height: 2em;
		letter-spacing: 1px;
		color: #fff;
		text-align: center;
	}
	hr
	{
		margin: 20px 0;
		border-style: solid;
	}
}

#about
{

}

#gallery .inner
{
	max-width: 960px;
	margin: 0 auto;
	padding-top: 20px;
	.fotorama__stage img
	{
		top: -5px !important;
		box-shadow: 0 0 8px #aaa !important;
	}
	.fotorama__nav-wrap
	{
		margin-top: 5px;
	}
}

#cv
{
	table
	{
		margin-bottom: 60px;
		th
		{
			width: 25%;
		}
	}
}

#media
{
	.inner { width: 80%; }
	margin: 0 auto;
}

#contact
{
	p
	{
		padding: 0;
		&:last-child
		{
			padding-bottom: 40px;
		}
		span
		{
			padding-left: 15px;
		}
	}
}

#twitter-block
{
	margin-bottom: 10px;
	p
	{
		margin-bottom: 10px;
		img { width: 50%; }
	}
}

#site-footer
{
	.inner
	{
		padding-top: 20px;
		padding-bottom: 15px;
		border-top: 1px solid $line-color;
	}
	h3, p
	{
		text-align: center;
	}
	p, a
	{
		font-size: 14px;
		font-style: normal;
	}
}

/* #menus
================================================== */

#primary
{
	background: #fff;
}

.variable-center-nav
{
	position: fixed;
	width: 100%;
	z-index: 150;
	margin: 0;
	overflow: hidden;
	@include nav-style();

	h2.smart-reveal
	{
		display: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	ul
	{
		clear: left;
		float: left;
		margin: 0;
		padding: 0;
		left: 50%;
		position: relative;
		text-align: center;
		li
		{
			display: block;
			padding: 0;
			margin: 0;
			@include float(left);
			position: relative;
			right: 50%;
			a, span
			{
				line-height: 20px;
				padding: 20px;
				display: block;
				text-decoration: none;
				outline: none;
				color: $nav-color;
				font-weight: 400;
				font-size: 1em;
				line-height: 1.8em;
				text-transform: uppercase;
				transition: color 0.3s;
			}
			a:hover
			{
				color: lighten($nav-color, 30%);
			}
			span.menu-divide
			{
				font-size: 12px;
				padding: 20px 10px;
			}

		}
		li:first-child
		{
			border-left: none;
		}

	}
}

/* Responsive
================================================== */

@media only screen and (max-width: 800px)
{
	.inner
	{
		width: 90%;
	}
	.half
	{
		width: 100%;
		clear: both;
	}
	.decoration
	{
		padding: 0 20px;
	}

.variable-center-nav
	{
		margin-left: 0;

		h2.smart-reveal
		{
			line-height: 20px;
			padding: 0;
			display: block;
			font-weight: normal;
			font-size: 30px;
			line-height: 20px;
			@include header-style();
			text-transform: uppercase;
			text-align: left;
			a
			{
				text-decoration: none;
				outline: none;
				background: url(/images/menu-icon.svg) no-repeat 15px;
				padding: 15px 60px;
				display: block;
			}
		}
		ul.depth_0
		{
			display: none;
			li
			{
				width: 100%;
				display: block;
				border-left: none;
				a
				{
					width: 100%;
					padding: 5px 0;
					margin: 0;
					border-top: 1px dotted #666;
					border-left: none;
				}
				span.menu-divide
				{
					display: none;
				}
			}
		}

	}
	.variable-center-nav.open-responsive
	{
		cursor: pointer;
		ul
		{
			display: block;
		}
	}

	#intro .inner
	{
		width: 720px;
	}

	#work
	{
		div.detail
		{
			width: 100%;
			display: block;
			float: none;
		}

		div.thumb
		{
			width: 100%;
			max-width: 400px;
			max-height: 300px;
			display: block;
			float: none;
		}
	}
}

@media only screen and (max-width: 700px)
{
	#intro
	{
		height: auto;
		padding-top: 60px;
		background: $background-color-1;
		.inner
		{
			width: 480px;
			background-color: $background-color-2;
		}
		.decoration
		{
			overflow: visible;
		}
		.right
		{
	  	position: static;
	  	top: 0;
	  	transform: none;
			.info-box
			{
				margin: 20px;
			}
		}
	}

	section.slide
	{
		padding-top: 30px;
	}
 }

@media only screen and (max-width: 500px)
{

	h1
	{
		font-size: 50px;
		line-height: 45px;
	}

	h2
	{
			font-size: 30px;
			line-height: 30px;
	}

	h3
	{
			font-size: 25px;
			line-height: 30px;
	}

	h4
	{
			font-size: 22px;
			line-height: 24px;
	}

	p,cite
	{

		font-size: 15px;
		line-height: 20px;
	}

	#site-footer
	{
		p.right, p.left
		{
			float: none;
		}
	}

}

@media only screen and (max-width: 480px)
{
	#intro .inner
	{
		width: 240px;
	}
}
