/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300|Lato:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Global Styles
================================================== */
.container {
  margin: 0 auto; }

.inner {
  width: 60%;
  margin: 0 auto;
  overflow: hidden; }

section.slide {
  padding: 50px 0; }

.decoration {
  padding: 0 20px; }

.half {
  width: 50%; }

.third {
  width: 33%; }

.two-thirds {
  width: 66%; }

.full {
  width: 100%;
  clear: both; }

.centred {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.top {
  vertical-align: top; }

.middle {
  vertical-align: middle; }

.divider {
  border-bottom: 1px solid #9f8c7c;
  margin-bottom: 20px; }

/* #Site Styles
================================================== */
h1, h2, h3, h4, h5, h6 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #9f8c7c; }

h1 {
  font-size: 40px;
  line-height: 36px;
  padding: 0 0 60px; }
  h1 span {
    border-bottom: 1px solid #9f8c7c; }

h2 {
  font-size: 30px;
  line-height: 26px;
  padding: 0 0 20px; }

h3 {
  font-size: 24px;
  line-height: 24px;
  padding: 0 0 20px; }

h4 {
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 20px; }

div {
  font-family: 'Open Sans', sans-serif;
  color: #9f8c7c; }

p, cite {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0 0 20px;
  color: #9f8c7c; }

p a {
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-decoration: none; }
  p a:hover {
    text-decoration: underline; }

button {
  border: 2px solid #fff;
  background: none;
  padding: 0;
  max-width: 250px;
  margin: 10px auto;
  transition: all 0.3s; }
  button:hover {
    background: #fff; }
    button:hover a {
      color: #666; }
  button a {
    font-family: 'Lato', sans-serif;
    display: block;
    padding: 5px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    transition: color 0.3s; }

table tr.header {
  background: #7b9a90; }
table tr th {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-right: 1px solid #fff; }
  table tr th:last-child {
    border-right: 0; }
table tr td {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  color: #7b9a90; }

cite, .emphasis {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 30px; }
  cite a, .emphasis a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal; }

cite {
  font-style: normal; }
  cite span {
    display: block;
    font-size: 20px; }

blockquote {
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

#intro {
  background: url(/images/background.jpg); }

#about, #gallery {
  background: #f9f8f3; }
  #about h1, #about h3, #about p, #gallery h1, #gallery h3, #gallery p {
    color: #9f8c7c; }
  #about h1 span, #gallery h1 span {
    border-bottom: 1px solid #9f8c7c; }
  #about p a, #gallery p a {
    color: #5a4d42; }

#cv, #contact, #site-footer {
  background: #daede7; }
  #cv h1, #cv h3, #cv p, #contact h1, #contact h3, #contact p, #site-footer h1, #site-footer h3, #site-footer p {
    color: #7b9a90; }
  #cv h1 span, #contact h1 span, #site-footer h1 span {
    border-bottom: 1px solid #7b9a90; }
  #cv p a, #contact p a, #site-footer p a {
    color: #364641; }

#media {
  background: #000; }

#intro {
  min-height: 80vh;
  background-size: cover;
  display: flex;
  align-items: center; }
  #intro .inner {
    background-color: rgba(65, 191, 199, 0.55);
    width: 100%;
    max-width: 860px;
    margin-top: 68px; }
  #intro .decoration {
    position: relative;
    overflow: hidden;
    padding: 0; }
  #intro .right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
    #intro .right .info-box {
      margin: 60px;
      text-align: center; }
  #intro img {
    width: 100%; }
  #intro p, #intro hr {
    line-height: 2em;
    letter-spacing: 1px;
    color: #fff;
    text-align: center; }
  #intro hr {
    margin: 5px 0 20px 0;
    border-style: solid; }

#gallery .inner {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px; }
  #gallery .inner .fotorama__stage {
    background-color: rgba(159, 140, 124, 0.3); }
    #gallery .inner .fotorama__stage img {
      box-shadow: 0 0 8px #aaa !important; }
  #gallery .inner .fotorama__nav-wrap {
    margin-top: 5px; }

#cv table {
  margin-bottom: 60px; }
  #cv table th {
    width: 25%; }

#media {
  margin: 0 auto; }
  #media .inner {
    width: 82%; }

#contact p {
  padding: 0; }
  #contact p:last-child {
    padding-bottom: 40px; }
  #contact p span {
    padding-left: 15px; }
#contact img {
  width: 40px; }

#twitter-block {
  margin-bottom: 10px;
  background-color: #c9e5dc;
  border-radius: 5px; }
  #twitter-block p {
    margin-bottom: 10px; }
    #twitter-block p img {
      width: 50%; }

#site-footer .inner {
  padding-top: 20px;
  padding-bottom: 15px;
  border-top: 1px solid #c3d1cd; }
#site-footer h3, #site-footer p {
  text-align: center; }
#site-footer p, #site-footer a {
  font-size: 14px;
  font-style: normal; }

/* #menus
================================================== */
#primary {
  background: #fff; }

.variable-center-nav {
  position: fixed;
  width: 100%;
  z-index: 150;
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif; }
  .variable-center-nav h2.smart-reveal {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0; }
  .variable-center-nav ul {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    left: 50%;
    position: relative;
    text-align: center; }
    .variable-center-nav ul li {
      display: block;
      padding: 0;
      margin: 0;
      float: left;
      position: relative;
      right: 50%; }
      .variable-center-nav ul li a, .variable-center-nav ul li span {
        line-height: 20px;
        padding: 20px;
        display: block;
        text-decoration: none;
        outline: none;
        color: #29a26a;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.8em;
        text-transform: uppercase;
        transition: color 0.3s; }
      .variable-center-nav ul li a:hover {
        color: #84e0b5; }
      .variable-center-nav ul li span.menu-divide {
        font-size: 12px;
        padding: 20px 10px; }
    .variable-center-nav ul li:first-child {
      border-left: none; }

/* Responsive
================================================== */
@media only screen and (max-width: 800px) {
  .inner {
    width: 90%; }

  .half {
    width: 100%;
    clear: both; }

  .decoration {
    padding: 0 20px; }

  .variable-center-nav {
    margin-left: 0; }
    .variable-center-nav h2.smart-reveal {
      line-height: 20px;
      padding: 0;
      display: block;
      font-weight: normal;
      font-size: 25px;
      line-height: 20px;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      text-align: left; }
      .variable-center-nav h2.smart-reveal a {
        text-decoration: none;
        outline: none;
        background: url(/images/menu-icon.svg) no-repeat 15px;
        padding: 15px 60px;
        display: block;
        color: #29a26a; }
    .variable-center-nav ul.depth_0 {
      display: none; }
      .variable-center-nav ul.depth_0 li {
        width: 100%;
        display: block;
        border-left: none; }
        .variable-center-nav ul.depth_0 li a {
          width: 100%;
          padding: 5px 0;
          margin: 0;
          border-top: 1px dotted #ccc;
          border-left: none; }
        .variable-center-nav ul.depth_0 li span.menu-divide {
          display: none; }

  .variable-center-nav.open-responsive {
    cursor: pointer; }
    .variable-center-nav.open-responsive ul {
      display: block; }

  #intro .inner {
    width: 60%; }
    #intro .inner .right {
      position: inherit;
      top: 0;
      right: 0;
      transform: none;
      -webkit-transform: none; }

  #work div.detail {
    width: 100%;
    display: block;
    float: none; }
  #work div.thumb {
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    display: block;
    float: none; } }
@media only screen and (max-width: 700px) {
  #intro {
    height: auto;
    padding-top: 60px; }
    #intro .inner {
      width: 60%;
      margin-top: 0; }
    #intro .decoration {
      overflow: visible; }
    #intro .right {
      position: static;
      top: 0;
      transform: none;
      -webkit-transform: none; }
      #intro .right .info-box {
        margin: 20px; }

  section.slide {
    padding-top: 30px; } }
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 35px; }

  h2 {
    font-size: 30px;
    line-height: 30px; }

  h3 {
    font-size: 22px;
    line-height: 24px; }

  h4 {
    font-size: 18px;
    line-height: 220px; }

  p, cite {
    font-size: 16px;
    line-height: 28px; }

  table tr th {
    font-size: 16px; }
  table tr td {
    font-size: 14px; }

  #cv .decoration {
    padding: 0; }

  #site-footer p.right, #site-footer p.left {
    float: none; } }
@media only screen and (max-width: 480px) {
  #intro .inner {
    width: 240px; } }
